.molding-trim-container {
  max-width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.molding-trim-preview,
.molding-trim-item {
  color: #121212;
  background-color: white;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 1em;
  border-radius: 10px;
}

.molding-trim-preview img,
.molding-trim-item img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.molding-trim-preview:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .molding-trim-container {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1em;
  }

  .molding-trim-preview,
  .molding-trim-item {
    width: 80vw;
    color: #121212;
    background-color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  .molding-trim-preview:hover,
  .molding-trim-preview:active,
  .molding-trim-item:hover,
  .molding-trim-item:active {
    text-decoration: underline;
  }

  .molding-trim-preview img,
  .molding-trim-item img {
    width: 50%;
    max-height: 100px;
    object-fit: contain;
  }

  .molding-trim-preview h2,
  .molding-trim-item h2 {
    width: 50%;
    text-align: center;
  }

  .molding-trim-item:hover,
  .molding-trim-item:active {
    text-decoration: none;
  }
}