img {
    border-radius: 10px;
}

.gallery-container {
    /* width: 80vw; */
}

.gallery {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em 1em;
}

@media (min-width: 768px) {
 .gallery {
    display: grid;
 }
}