.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

.gallery-preview-container {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 2em;
}

.gallery-preview {
  color: white;
  background-color: maroon;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 10px;
}

.gallery-preview:hover {
  color: gold;
  text-decoration: underline;
}

.gallery-preview img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.gallery-preview h2 {
  padding: 0;
  margin: 0;
}

.gallery-image-container {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.gallery-image img {
  width: 300px;
  height: 300px;
  border: 1px solid #121212;
  object-fit: cover;
  cursor: zoom-in;
}

img.enlarged {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(2);
  border: 1px solid white;
  border-radius: 0px;
  margin: auto;
  z-index: 300;
  cursor: zoom-out;
}

@media (max-width: 768px) {
  .gallery-preview-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery-preview {
    width: fit-content;
    color: white;
    text-decoration: none;
    background-color: maroon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: 10px;
  }

  .gallery-preview img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
  }

  .gallery-preview h2 {
    padding: 0;
    margin: 0;
  }

  img.enlarged {
    transform: scale(1.3);
    transition: transform 300ms ease-in;
  }
}