.woodturning-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.woodturning-container p {
  margin-top: 0;
}

@media (max-width: 768px) {
  .woodturning-container {
    width: 80vw;
  }

  .woodturning-container p {
    margin: 0;
  }
}