/* cabinetry */

@media (max-width: 786px) {
    section {
        display: flex;
        flex-direction: column;

    }

    .back-button {
        color: #121212;
    }

    .photos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    .img {
        min-width: 40vw;
        max-width: 80vw;
    }
}

/* molding and trim */

.img-container {
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}

.img-container a {
    box-sizing: border-box;
    color: #121212;
    text-decoration: none;
}

.img-container a:hover {
    font-weight: bold;
    background-color: gold;
}

.img-container img {
    width: 100px;
    height: 200px;
}