.service-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin: 0 auto;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.service-item a {
  width: 400px;
  color: white;
  background-color: maroon;
  text-align: center;
  text-decoration: none;
  padding: 0.25em 0;
  border-radius: 10px;
  box-shadow: 0 3px 3px #121212;
  transition: all 0.1s ease;
}

.service-item a:hover {
  color: gold;
  text-decoration: underline;
  box-shadow: 0 5px 5px #121212;
  transform: translateY(-1px);
}

.service-item a:active {
  box-shadow: 0 1px 1px #121212;
  transform: translateY(1px);
}

.service-item h2 {
  margin: 0;
}

.service-item p {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .service-container {
    width: 80vw;
    gap: 1em;
  }

  .service-item {
    margin-bottom: 2em;
  }

  .service-item a {
    width: 80vw;
  }
}