.service-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.service-item a {
  width: 400px;
  color: white;
  background-color: maroon;
  text-align: center;
  text-decoration: none;
  padding: 0.25em 0;
  border-radius: 10px;
}

.service-item a:hover {
  color: gold;
  text-decoration: underline;
}

.service-item h2 {
  margin: 0;
}

.service-item p {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .service-container {
    width: 80vw;
    gap: 1em;
  }

  .service-item {
    margin-bottom: 2em;
  }

  .service-item h2 {
    width: 100%;
    color: white;
    background-color: maroon;
    text-decoration: underline;
    padding: 0.25em 0;
    border-radius: 10px;
  }
}