.contact-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.contact-container img {
  border: 1px solid #121212;
  border-radius: 10px;
}

.contact {
  font-size: 1.3rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact li {
  margin-bottom: 1em;
}

@media (max-width: 786px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .contact-container img {
    width: 90%;
  }
}