
/* top nav bar */
.nav-bar {
  width: 100%;
  height: 4em;
  background: maroon;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid gold;
}

.nav-logo a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-left: 1em;
}

/* nav items */
.nav-items ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  padding: 0 1em;
}

.nav-items a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-items a:hover {
  color: gold;
  text-decoration: underline;
}

/* hide the menu icon on larger displays */
@media (min-width: 768px) {
  .nav-icon-open {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 1em;
  }

  .nav-logo a {
    margin: 0;
  }

  .nav-bar a {
    font-size: 2rem;
  }


  .nav-icon-open,
  .nav-icon-close {
    font-size: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
  }

    /* side nav bar */
  .side-nav-bar {
    width: fit-content;
    height: 100%;
    color: white;
    background-color: maroon;
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em 2em;
  }

  .side-nav-bar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0;
  }

  .side-nav-bar a,
  .side-nav-bar a:visited {
    color: white;
    text-decoration: none;
  }

  .side-nav-bar a:active {
    color: gold;
    text-decoration: underline;
  }

  /* backdrop */
  .backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
  }

  /* hide the nav items on smaller displays */
  .nav-items {
    display: none;
  }
}



