
.back-button {
    color: #121212;
}

.cabinetry-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


@media (max-width: 786px) {
  .back-button {
      color: #121212;
  }

  .cabinetry-container {
    display: flex;
    flex-direction: column;
  }
  
  .cabinetry {
      display: flex;
      flex-direction: column;
  }

  .cabinetry-images {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2em;
  }

  .cabinetry-images img {
    width: 80vw;
  }
}